services:
  # mongo:
  #   image: mongo
  #   container_name: mongo
  #   ports:
  #     - "27017:27017"
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: root
  #     MONGO_INITDB_ROOT_PASSWORD: example
  #   volumes:
  #     - mongo-data:/data/db
  #   networks:
  #     - common-network

  # mongo-express:
  #   image: mongo-express
  #   container_name: mongo-express
  #   restart: always
  #   ports:
  #     - "8081:8081"
  #   environment:
  #     ME_CONFIG_MONGODB_ADMINUSERNAME: root
  #     ME_CONFIG_MONGODB_ADMINPASSWORD: example
  #     ME_CONFIG_MONGODB_SERVER: mongo
  #   depends_on:
  #     - mongo
  #   networks:
  #     - common-network

  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    # environment:
    #   MONGO_URL: mongodb://root:example@mongo:27017/
    # depends_on:
    #   - mongo
    networks:
      - common-network

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - common-network

# volumes:
#   mongo-data:

networks:
  common-network:
    driver: bridge
